* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    margin: auto;
    background-color: #1D1F21;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    color: #c5c8c6;
    height: 100%;
}

header {
    color: #BB0B2F;
    text-align: center;
    padding: 75px 0px;
}

#title {
    font-size: 350%;
    /*letter-spacing: -1px;*/
    line-height: 100%;
    /*padding-bottom: 1em;*/
}

#subtitle {
    font-size: 50%;
    color: #BB0B2F;
    margin: 0.25em;
}

div.container {
    text-align: center;
    font-size: 50%;
    width: 50%;
    margin: auto;
    min-width: 560px;
}

#bar {
    padding-bottom: 50px;
}

.bsection {
    box-sizing: border-box;
    border-left: 1px solid #c5c8c6;
    width: 25%;
    height: 25px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btitle {
    font-family:'Press Start 2P', cursive;
    text-decoration: none;
    color: #FFFFFF;
}

.bcurrent {
    background-color: #3D3F41;
}

.tsection {
    font-family:'Press Start 2P', cursive;
    box-sizing: border-box;
    border-left: 1px solid #c5c8c6;
    width: 25%;
    height: 300px;
    float: left;
}

.ttitle {
    margin: 2px;
    padding-bottom: 1em;
}

.tright {
    border-right: 1px solid #c5c8c6;
}

.ttop {
    border-top: 1px solid #c5c8c6;
}

.tbot {
    border-bottom: 1px solid #c5c8c6;
}

.tnoleft {
    border-left: none;
}

#main a {
    font-family:'Press Start 2P', cursive;
    color: #BB0B2F;
    line-height: 2em; 
}

.tlinks a:after {
    content: "";
    display: block;
    height: 0.75em;
    width: 1px;
}

.sl:after {
    content: "";
    display: block;
    height: 0.75em;
    width: 1px;
}